@charset "utf-8";
@import url("font-face.css");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@namespace url("http://www.w3.org/1999/xhtml");
@counter-style circled-decimal {/*see https://www.w3.org/TR/predefined-counter-styles/*/
system: fixed 0;
symbols: "⓪" "①" "②" "③" "④" "⑤" "⑥" "⑦" "⑧" "⑨" "⑩" "⑪" "⑫" "⑬" "⑭" "⑮" "⑯" "⑰" "⑱" "⑲" "⑳" "㉑" "㉒" "㉓" "㉔" "㉕" "㉖" "㉗" "㉘" "㉙" "㉚" "㉛" "㉜" "㉝" "㉞" "㉟" "㊱" "㊲" "㊳" "㊴" "㊵" "㊶" "㊷" "㊸" "㊹" "㊺" "㊻" "㊼" "㊽" "㊾" "㊿";
suffix: "\00A0"/*"&nbsp;"*/;
}
@counter-style bracketed-decimal {
system: numeric;
symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
prefix: "[";
suffix: "]\00A0"/*"]&nbsp;"*/;
}
@keyframes highlight {
50% {
background-color: #dcdcdc/*gainsboro*/;
}
}
* {
margin: 0;
padding: 0;
line-height: 1.5;
}
html {
background-color: #f5f5f5/*whitesmoke*/;
color: black;
font-family: "songti", serif;
font-feature-settings: "tnum", "afrc";
font-size: 4.2mm/*小四号*/;
text-align: justify;
hyphens: auto;
}
:lang(zh-Bopo) {
font-feature-settings: "hist";/*for Source Han fonts*/
}
:lang(zh-pinyin), :lang(zh-Latn), :lang(en), :lang(fr), :lang(de), :lang(es), :lang(ru) {
font-family: "serif-western", serif;
font-feature-settings: "pwid";/*for Source Han fonts*/
}
body {
margin: 0 auto;
max-width: 40rem;
}
header {
text-align: center;
border-bottom: 0.35mm solid black;
margin-bottom: 1rem;
}
.masthead, .website-title {
font-family: "biaozhunzi", serif;
}
header .slogan {
font-family: "dengxianti", sans-serif;
font-weight: bold;
font-size: 9.1mm/*一号*/;
color: red;
position: relative;
top: -4.2mm;
}
main {
margin: 0.5rem auto;
text-indent: 2em;
}

main, article {
counter-reset: note ref;
}
.front, .back {
font-size: 3.675mm/*五号*/;
}
h1, h2, h3, h4, h5, h6 {
text-indent: 0;
text-align: center;
}
.front h1, .front h2, .front h3, .front h4, .front h5, .front h6, .back h1, .back h2, .back h3, .back h4, .back h5, .back h6 {
text-indent: inherit;
text-align: inherit;
}
h1 {
font-family: "biaoti-songti", "songti";
font-size: 5.25mm/*小三号*/;
font-weight: bold;
margin: 1em auto;
}
h2 {
font-size: 4.9mm/*四号*/;
font-weight: bold;
margin: 0.5em auto;
}
.front h1, .front h2, .back h1, .back h2 {
font-size: 4.2mm/*小四号*/;
margin: 0.5em auto;
}
h3 {
font-size: 4.9mm/*四号*/;
font-weight: inherit;
margin: 0.5em auto;
}
.front h3, .back h3 {
font-size: inherit;
}
h4, h5, h6 {
font-size: inherit;
font-weight: inherit;
}
footer {
padding: 1.5em 0 1.5em 0;
text-align: center;
}
header > nav {
position: absolute;
float: left;
}
.back > nav {
margin: 0.5em auto;
padding: 0.75em 0;
background-color: #dcdcdc/*gainsboro*/;
}
.two-columns {
columns: 2;
column-gap: 2em;
}
p.author {
font-family: "kaiti", "fangsongti", "songti", serif;
text-indent: 0;
text-align: center;
margin: 1em auto;
}
p.date, p.author-date {
font-family: "kaiti", "fangsongti", "songti", serif;
font-size: 3.675mm/*五号*/;
text-indent: 0;
text-align: center;
margin: 1em auto;
}
p.author-date {
text-align: right;
}
.abstract {
font-family: "kaiti", "fangsongti", "songti", serif;
padding-left: 2rem;
padding-right: 2rem;
margin-bottom: 0.5rem;
}
p.edition {
font-family: "kaiti", "fangsongti", "songti", serif;
text-align: right;
margin-top: 1em;
}
.verse {
text-align: center;
text-indent: 0;
white-space: pre;
}
address {
font-style: inherit;
}
blockquote {
padding-left: 2em;
padding-right: 2em;
}
ul {
list-style: none inside;
}
ol {
list-style-position: inside;
}
ol.note {
list-style-type: circled-decimal;
}
ol.ref {
list-style-type: bracketed-decimal;
}
.note li:target, .ref li:target, a.note-mark:target, a.ref-mark:target {
animation: highlight 2s;
}
dt {
display: run-in;
margin-right: 1em;
}
figure, table {
text-indent: 0;
margin: 0.75em auto;
text-align: center;
}
figcaption, caption {
font-size: 3.675mm/*五号*/;
}
figcaption {
margin-top: 0.25em;
}
table {
border-collapse: collapse;
border-top: 0.08em solid;
border-bottom: 0.08em solid;
font-size: 3.675mm/*五号*/;
}
caption {
margin-bottom: 0.25em;
}
th, td {
padding-left: 0.5em;
padding-right: 0.5em;
}
th {
font-weight: inherit;
border-bottom: 0.03em solid;
padding-top: 0.25em;
padding-bottom: 0.25em;
}
thead {
border-bottom: 0.05em solid;
}
tbody > tr:first-child > td {
padding-top: 0.25em;
}
tbody > tr:last-child > td {
padding-bottom: 0.25em;
}
a {
color: inherit;
text-decoration: inherit;
border-bottom: 1px solid silver;
}
a:focus, a:hover {
border-bottom-color: #6699ff;
}
header a {
border-bottom: inherit;
}
a.note-mark {
counter-increment: note;
border: inherit;
}
a.note-mark::after {
content: counter(note);
}
@supports (content: counter(note, circled-decimal)) {
a.note-mark::after {
content: counter(note, circled-decimal);
}
}
a.ref-mark {
counter-increment: ref;
border: inherit;
}
a.ref-mark::after {
content: "["counter(ref)"]";
}
a.note-back::after, a.ref-back::after {
content: "⤴";
}
em:lang(zh) {
font-style: inherit;
text-emphasis: dot;
}
cite:lang(zh) {
font-style: inherit;
}
code, samp, kbd, .url {
font-family: "dengxianti", monospace;
font-feature-settings: "hwid", "kern" 0;
font-variant-ligatures: none;
}
u:lang(zh) {
text-decoration-skip: edges;
}
hr {
border: none;
height: 1.5em/*=line-height*/;
}
/*hr {
width: 25%;
color: inherit;
}*/
img {
max-width: 100%;
}
img.symbol {
height: 1em;
vertical-align: -0.12em;
}